<form>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <label>CPDMR ID</label><br><br>
          <input matInput >
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <label>FORM ID</label><br><br>
          <input matInput class="example-right-align">
        </mat-form-field>
      </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
          <label>BH UR No</label><br><br>
          <input matInput >
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <label>MH UR No</label><br><br>
          <input matInput class="example-right-align">
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill">
          <label>Surname</label><br><br>
          <input matInput >
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <label>Given Names</label><br><br>
          <input matInput class="example-right-align">
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill">
          <label>Date of Birth</label><br><br>
          <input matInput >
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <label>Sex</label><br><br>
          <input matInput class="example-right-align">
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill" class="example-full-width">
          <label>Episode Date</label><br><br>
          <input matInput >
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <label>Team</label><br><br>
          <input matInput class="example-right-align">
        </mat-form-field>
      </div>
      <div class="example-container">
        <button mat-raised-button ><mat-icon>bookmark_border</mat-icon>  Set Episode</button>
            <mat-checkbox class="check-example-right-align">
             Click here to verify the Patient details
            </mat-checkbox>
      </div>
</form><br>

