<mat-card class="example-card">
    <mat-divider class="divider-blue"></mat-divider>
    <h3>  MHA101 ASSESSMENT ORDER </h3>
    <mat-divider class="divider-blue"></mat-divider>
    <table>
        <tr >
            <td>
                <div class="controls-container">
                    <img src="../../assets/bendigo-health-logo-500x500.jpg" >
                    
                </div>
            </td>
            <td>
                <div class="controls-container">
                    <app-firstform></app-firstform>
        
                </div>
            </td>
        </tr>
    </table>
    <mat-divider></mat-divider><br>
    <mat-card class="card">
        <h4>Instructions to fill this form</h4>
        <ul>
            <li>This form must be completed by a registered medical practitioner or a mental health practitioner (see definitions over page).</li>
            <li>When you examine the person, you must explain the purpose of the examination to the extent that is reasonable.</li>
            <li>You should complete this form as soon as practicable after examining the person but not more than 24 hours.</li>
        </ul>
    </mat-card>
    <br>
    <mat-divider class="divider-blue"></mat-divider>
    <div class="center">
        <app-secondform ></app-secondform>
    </div>
    <mat-divider class="divider-blue"></mat-divider>
    <div class="center">
        <app-lastform ></app-lastform>
    </div>   
</mat-card>    
